/********************
YOUR STYLES
*******************/

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
$color1: #C8DAE6;
$color2: white;
$color3: #B8B8B8;
$color4: coral;
$color5: #2092A9;

/*Section Containers*/
#cheney {
  background: $color1;
}

#seattle {
  background: lighten($color5, 50%)
}

#ellensburg {
  background-color: lighten($color1, 7%)
}
  
  
ul {
  color: $color5;
  list-style: none;
  font-family: 'Lato', sans-serif;
  font-weight:300;
  font-size:65px;
  margin: 10px;
}

section li {
  display: inline;
}

.places li a {
  color: $color2;
  list-style: none;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  text-decoration: none;
}

aside.weather-wrapper {
    margin: 5px;
    display: flex;
    flex-flow: wrap row;
}

figure {
  min-height: 5em;
  width: 100%;
  position: absolute;
    
    margin:  20px 20px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 150px;
    background-color: $color2;
    box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
}
  
  figure h2 {
    position: absolute;
    font-family: 'Lato', sans-serif;
        font-weight:300;
        font-size:20px;
        color: $color4;
        top: 0;
        left: 25px;
    border-bottom: solid thin $color3;
  }
  
  figure.high {
        position: absolute;
        font-family: 'Lato', sans-serif;
        font-weight:300;
        font-size:70px;
        color: $color5;
        bottom: 30px;
        left: 30px;
    }
    
    figure figcaption {
        position: absolute;
        font-family: 'Lato', sans-serif;
        font-weight:300;
        font-size:1.05em;
        color: lighten($color3, 10%);
        bottom: 0;
        left: 20px;
    }

i {
  color: $color3;
  position: relative;
  top: 0;
  right: 10px;
  float: right;
  line-height: 1.0;
  text-transform: none;
}

:target {
  z-index: 1;
}


$sidebar-width: 12em;
$sidebar-width-neg: -12em;

.sidr {
    display: block;
    position: fixed;
    background: $color4;
    opacity: 20%;
    top: 0;
    height: 100%;
    z-index: 999999;
    width: $sidebar-width;
    overflow-x: hidden;
    overflow-y: auto;

    .left {
        left: $sidebar-width-neg;
        right: auto;
    }
}

a#close {
  display: none;
}


/********************
MEDIA QUERIES
*******************/
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {
}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
}